* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.table {
  width: 81vw;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table__body {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  border-radius: 0rem 0rem 0.6rem;
  overflow: auto;
  overflow: overlay;
}

.table__wait__match {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  border-radius: 0rem 0rem 0.6rem;
  overflow: auto;
  overflow: overlay;
}

.table__wait__match table {
  width: 50%;
  float: left;
}

.table__body .table__wait__match {
  width: 0.5rem;
  height: 0.5rem;
  scrollbar-width: thin; /* Thuộc tính này dành cho trình duyệt không hỗ trợ -webkit-scrollbar */
}

.table__body .table__wait__match::-webkit-scrollbar-thumb {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body .table__wait__match:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

.border-line {
  width: 100%;
  height: 40px;
  background-color: #d5d1defe; /* Màu đường viền tùy chỉnh ở đây */
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.success {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #6c00bd;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.form-container {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.form-label {
  flex: 1;
  text-align: left;
}

.form-input {
  flex: 2;
  padding: 5px;
  width: 100%;
}

.form-button {
  padding: 5px;
  text-align: center;
}

#buy table td,
#buy2 table td,
#sell table td,
#sell2 table td {
  width: 50%;
}

#buy table tr:first-child td,
#buy2 table tr:first-child td,
#sell table tr:first-child td,
#sell2 table tr:first-child td {
  padding-top: 0.3rem;
}

#buy2 table {
  width: 100%; /* Đảm bảo bảng "Buy2" rộng 100% */
  table-layout: fixed; /* Đảm bảo cố định chiều rộng của cột */
}


#buy2 {
  display: inline-block;
  vertical-align: top;
  width: 100%; /* Điều chỉnh kích thước bảng "Buy2" */
}

#sell2 {
  display: inline-block;
  vertical-align: top;
  width: 50%; /* Điều chỉnh kích thước bảng "Sell2" */
}

.table__header button.active {
  background-color: #ff69b4; /* Pink color when selected */
  color: white;
}